.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/.env
backend/package-lock.json
backend/src/logs/app.log
src/components/RoomCodeDisplay.vue
src/views/HomeView.vue
src/views/JoinRoomView.vue
src/views/RoomView.vue
