/* Reseteo básico */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

body {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 100%;
  background: linear-gradient(180deg,#0b0b13  ,#202020);
  box-shadow: inset 0 0 50px 4px rgba(0, 0, 0, 0.5);
}

#app{
    min-width: 100%;
    background: transparent;

}

.v-application{
    background: transparent;
}


:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --background-color: #1c1c1c;
    --text-color: #ecf0f1;
}

/* Botones de Acciones */
.btn-icon {
    @apply hover:bg-gray-700 active:bg-gray-600 text-white rounded-full p-3 flex items-center justify-center transition duration-300;
  }


.btn-primary {
  @apply bg-blue-600 hover:bg-blue-500 disabled:bg-gray-500 text-white py-2 px-4 rounded-lg transition duration-300 flex flex-row items-center justify-center;
}

.btn-error {
  @apply bg-red-600 hover:bg-red-500 disabled:bg-gray-500 text-white py-2 px-4 rounded-lg transition duration-300 flex flex-row items-center justify-center;
}
.btn-basic{
  @apply bg-gray-700 hover:bg-gray-600 disabled:bg-gray-500 text-white py-2 px-4 rounded-lg transition duration-300 flex flex-row items-center justify-center;
}